*{
	// margin: 15px 20px 10px 20px;
	margin: 10px;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

body{
    width: 97vw;
}

:root{
	--is-black:#212529;
	--is-blue:#209cee;
	--is-green:#92cc41;
	--is-yellow:#f7d51d;
	--is-red:#e76e55;
}

.section{
	margin-top: 5vh
}

@import './header.scss';
@import './presentation.scss';
@import './projects.scss';
@import './skills.scss';
@import './contact.scss';
@import './components.scss';

