*{
	margin: 10px;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

:root{
	--is-black:#212529;
	--is-blue:#209cee;
	--is-green:#92cc41;
	--is-yellow:#f7d51d;
	--is-red:#e76e55;
}

.fa-bars{
	font-size: 22px;
}

@import './header.scss';
@import './presentation.scss';
@import './projects.scss';
@import './skills.scss';
@import './contact.scss';
@import './components.scss';

