.highlight{
    color: var(--is-red);
    border-color: var(--is-red);
    background-color: var(--is-yellow);
}

.is-active{
    &__ligth{
    background-color: var(--is-blue);
}
    &__dark{
        background-color: var(--is-yellow);
    }
}