.header{
    padding: 15px;

    @media all and (min-width: 768px){
        position: fixed;
        height: 90vh;
    }
    &__menu{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        @media all and (min-width: 768px){
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;

        }
        &--list{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #606c38;
            font-size: 27px;
            z-index: 989;
            a{
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: #fefae0;
                z-index: 990;

            }
            a:hover{
            opacity: 0.5;
         }
	}
    }
	
}

  

/*    

    &--header{
        display: flex;
        justify-content: flex-end;
        height: 90%;
        &__menu{

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }
*/