.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__wrapper{
        
       @media all and (min-width: 768px){
        display: grid;
        grid-template-columns: 1fr 1fr;
    } 
    }
    
    &__title{
        margin: 15px 25px;
        text-align: center;

    }
    &__text{
        margin:15px 35px ;
        text-align: center;
    }
    
}

.profile-photo{
    display: flex;
    justify-content: center;
	width: 150px;
    height: 200px;
	border-radius: 10px;
	background-image: url('../images/nadia-photo.jpeg');
	background-size: contain;
	background-repeat: no-repeat;
    margin: 10px;
}