.project{
    &-list{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &-technologies{
        width: fit-content;
    }
}

.icon{
    height: 20px;
    &-wrapper{
        display: flex;
    }
    &-2{
        height: 50px;
    }
}

.project-cover{
    width: 100%;
}